.capital {
  position: absolute;
  left: 36%;
  width: 20%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(247, 234, 216, 0.7);
  border-radius: 10px;
  h2 {
    font-size: 1rem;
  }
  span {
    font-size: 0.8rem;
  }
}

.img {
  height: 45%;
}

.info {
  margin: 0 auto;
}

@media (min-width: 500px) {
  .capital {
    left: 36%;
    top: 30%;
    padding: 20px;
    border-radius: 13px;
    h2 {
      font-size: 1.2rem;
    }
    span {
      font-size: 1rem;
    }
  }
}
@media (min-width: 700px) {
  .capital {
    left: 37%;
    top: 40%;
    padding: 25px;
    border-radius: 13px;
    h2 {
      font-size: 1.4rem;
    }
    span {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1000px) {
  .capital {
    left: 37%;
    top: 43%;
    padding: 25px;
    border-radius: 13px;
    h2 {
      font-size: 2rem;
    }
    span {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1300px) {
  .capital {
    left: 38%;
    top: 55%;
    padding: 25px;
    border-radius: 13px;
    h2 {
      font-size: 2rem;
    }
    span {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1600px) {
  .capital {
    left: 40%;
    top: 55%;
    padding: 25px;
    border-radius: 13px;
    h2 {
      font-size: 2.5rem;
    }
    span {
      font-size: 2rem;
    }
  }
}
