.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.place {
    display: flex;
    flex-direction: column;

    margin-top: 15px;

    text-align: center;
}

.place > span {
    font-size: 24px;
    color: rgba(128, 128, 128, 0.544);
    margin-bottom: 15px;
}

.place > img {
    border-radius: 5px;
    height: 400px;
    width: 600px;

    object-fit: cover;
    
}

.feedback {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.feedback  img {
    width: 100px;
    border-radius: 50%;
}

.feedText {
    align-self: center;

    margin-left: 35px;
    padding-top: 12px;

    border-radius: 25px;

    width: 450px;
    height: 50px;
    box-sizing: border-box;

    box-shadow: 0 0 15px;

    text-align: center;
    
    
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}



