.footer {
  width: 100%;
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top: rgb(44, 43, 43) 1px solid;
}
.github ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 0.8em;
}
.github ul {
  margin-bottom: 0;
}

.github ul li {
  list-style-type: none;
}

.year {
  font-size: 1.2em;
}

.logo {
  width: 20%;
  cursor: pointer;
}

@media (min-width: 500px) {
  .logo {
    width: 15%;
  }
}
@media (min-width: 900px) {
  .logo {
    width: 10%;
  }
}
@media (min-width: 1376px) {
  .logo {
    width: 5%;
  }
}
